@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Source+Code+Pro:wght@400;500;700&family=Spectral+SC:ital,wght@1,800&family=Teko:wght@300;400;600;700&display=swap');
:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}
body{
    background-color: #303030;
    background: #303030;
    min-height: 100%;
    overflow-x: hidden;
}

 header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #fff;
    z-index: 1;
    background-color: #7ab03c;
    }
header a{
    color: #ffffff;
    text-decoration: none;
}
header .logo{
    padding-left: 5%;
    padding-top: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: center;
 }

 .navbar{
    display: flex;
    justify-content: space-around;
    align-self: center;
}
 .navbar .nav-item{
    display: inline-block;
    list-style: none;
    margin-right: 4rem;
    margin-top: 2rem;
   }
.nav-link{
    text-decoration: none;
    font-weight: bold;
    color: #fcfffa;
    position: relative;
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150%;
    height: 2px;
    background: linear-gradient(to right, #006384, #ffffff);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in;
 }
 .nav-link::before {
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     width: 2px;
     height: 150%;
     background: linear-gradient(to top, #006384, #ffffff);
     transform: scaleY(0);
     transform-origin: bottom;
     transition: transform 350ms ease-in;
 }
.nav-link:hover::before{
    transform: scaleX(1);
        transform-origin: top;
    }

 .nav-link:hover::after{
    cursor: pointer;
    transform: scaleX(1);
    transform-origin: left;
    }
.nav-link:hover{
    color: #006384;
 }
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 4px;
     margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.frontpage-intro-container{
    min-width: 90%;
    max-width: 100%;
    width: min(90%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .frontpage-intro{
        margin-top: 15%;
   }

 .frontpage-intro h4{
    max-width: 100%;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 1.55rem;
    text-align: left;
    color: #fcfffa;
  }
.frontpage-intro span{
    color: #7ab03c;
}
 .frontpage-intro .two{
    font-size: 2rem;
    color: #7ab03c;
 }
 .frontpage-intro .three{
    font-size: 3rem;
    color: #7ab03c;
 }
.name-text{
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 7em;
    padding-bottom: 1rem;
    position: relative;
    width: max-content;
    color: #7ab03c;
    text-transform: uppercase;
    }
    
.name-text::before,
.name-text::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 }
 .name-text::before{
    background: #303030;
    animation: typewriter 3s steps(14) .25s forwards;
 }
 .name-text::after{
    width: 0.015em;
    background: #7ab03c;
    height: 90%;
    animation: typewriter 3s steps(14) .25s forwards, blink 750ms steps(14) infinite;
}
 @keyframes typewriter{
    to{
        left: 100%;
    }
 }
 @keyframes blink {
    to{
        background: transparent;
    }
 } 
     
 .frontpage-intro p{
    font-family: 'Oswald', sans-serif;
    text-align: right;
    font-weight: 300;
    font-size: 1.38rem;
    line-height: 2rem;
    display: flex;
    justify-content: flex-end;
    color: #fcfffa;
    min-width: max-content;
   }

 .frontpage-socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
   }
   i {
       font-size: 2em;
       color: #fcfffa;
       padding-left: 1rem;
       padding-right: 1rem;
       margin-top: 1rem;
       margin-bottom: 1rem;
   }
   i:hover{
    color: #7ab03c;
    }
   .frontpage-socials a:hover{
    cursor: pointer;
    color: #7ab03c;
    border-radius: 50%;
    animation: bounce 1.5s ease-in-out infinite;
   }
   .social-links{
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
   }
.more-about{
    display: inline-flex;
    width: 50%;
    align-self: center;
    justify-content: center;
   }

.more-about p{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    align-self: center;
    justify-content: center;
    font-size: 1.35rem;
    font-weight: 500;
    margin-right: 1rem;
    color: #7ab03c;
}
.fa-arrow-right{
    align-self: flex-end;
    color: #fcfffa;
    }
 @keyframes bounce{
    0%, 20%, 60%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    80%{
        transform: translateY(-20px);
    }
   }

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
    padding: 2em 0;
    border-top: 2px solid #7ab03c;
    margin-top: 13em;
}

.copyright {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: #fcfffa;
    font-size: 1.2rem;
}

.footer-socials {
    padding-top: 2em;
    width: 100%;
    text-align: center;
}

i {
    font-size: 2em;
    color: #fcfffa;
    padding-right: 1em;
}

i:hover {
    color: #7ab03c;
}

.fa-envelope-open-text {
    padding-right: 0;
}

@media only screen and (max-width:1060px){
    .frontpage-intro-container{
        margin-top: 15%;
    }
    .name-text{
        font-size: 6rem;
    }
}

@media only screen and (max-width:880px){
    .hamburger{
        display: block;
        position: absolute;
        right: 0;
        padding-right: 5%;
       }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    header{
        width: 100%;
    }
    .navbar{
        padding: 0;
        margin: 0;
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #7ab03c;
        transition: 0.3s;
        padding-top: 0;
        margin-top: 0;
        margin-right: 0;
    }
    .nav-link:hover{
        background-color: none;
        background: none;
        color: #000000;
        padding: 0;
        text-decoration: underline;
    }
    .nav-item{
        padding: 0;
        margin-bottom: 2rem;
    }
    .nav-menu.active{
        right: 0;
    }
    .name-text{
        font-size: 5rem;
    }
}

@media only screen and (max-width:750px){
    .frontpage-intro-container{
        margin-left: 5%;
        margin-right: 5%;
    }
    .frontpage-intro p{
        font-size: 1.15rem;
    }
    .copyright{
        display: block;
    }
  }

  @media only screen and (max-width:668px){
    .frontpage-intro h4{
        font-size: 1.25rem;
    }
    .name-text{
        font-size: 4.5rem
    }
    .frontpage-intro p{
        font-size: 1.05rem;
    }
  }

  @media only screen and (max-width:600px){
    .frontpage-intro-container{
        display: block;
        margin-top: 40%;
        /* text-align: center; */
        padding-left: 2%;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .name-text{
        font-size: 4rem;
    }
  }

  @media only screen and (max-width:500px){
    .frontpage-intro{
        margin-top: 55%;
    }
    .name-text{
       font-size: 3.4rem;
     }
    .frontpage-intro h4{
        font-size: 1rem;
    }
  }

@media only screen and (max-width: 473px){
    .frontpage-intro-container{
        margin-top: 55%;
        margin-left: 4%;
        margin-right: 4%;
        text-align: center;
        }
        .name-text{
            font-size: 3rem;
            text-align: center;
            max-width: fit-content;
        }
        .frontpage-intro p{
            font-size: 1rem;
            text-align: center;
         }
    
    .frontpage-socials{
        width: min(90%, 100%);
        flex-direction: column;
        margin: 5% 15%;
        text-align: center;
      }
    .social-links{
        width: 100%;
         padding-right: 30%;
         padding-left: 10%;
         text-align: center;
    }
    .more-about{
        width: 100%;
        padding-right: 25%;
        padding-left: 15%;
        text-align: center;
    }
    
}

@media only screen and (max-width:420px){
    .frontpage-intro p{
        font-size: .85rem;
      }
}

@media only screen and (max-width:362px){
    .frontpage-intro p {
        font-size: .75rem;
        }
        .frontpage-intro-container{
            padding: 2%;
            margin: 0;
        }
}

@media only screen and (min-width:750px){
    .footer {
            width: 100%;
            flex-direction: row;
            padding: 2em 2em;
        }
    
        .copyright {
            width: 50%;
            text-align: left;
        }
    
        .footer-socials {
            width: 50%;
            padding-top: 0;
            text-align: right;
        }
}